<p>
  Adding large numbers of people to a GitHub organization <a href="https://help.github.com/articles/adding-organization-members-to-a-team" target="_blank">manually</a> is a hassle.  You need to collect their GitHub usernames, though they might not be signed up yet, then go through and enter them one-by-one. <strong>GitHub Invite</strong> generates a unique URL that you can send to your group, and when they click through, they will be automatically added to the team you select below.
</p>
<p class="center-block">
  <a href="<%= new_invite_path %>" class="btn btn-primary">Create invite</a>
</p>
