$font-size-base: 16px;
$font-size-h2: 26px;

@import "bootstrap";

h1 a {
  &,
  &:hover {
    color: black;
  }
}

.notification {
  padding: 10px;
}

footer {
  font-size: 0.8em;
  margin: 20px 0 50px;
  text-align: center;
}
